@use "../abstracts/function" as f;

.card {
    padding: f.rem(10px);
    background-color: var(--color-white);
    border-radius: f.rem(11px);
    max-width: f.rem(320px);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__img {
    border-radius: f.rem(11px);
}

.card__title {
    margin-top: 1em;
    font-size: f.rem(24px);
    font-weight: 700;
}

.card p {
    font-size: f.rem(16px);
    color: var(--color-brand-light);
    padding: f.rem(16px);
}